.header {
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.header__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}
